
&i2c0 {
	status = "ok";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi1 {
        status = "ok";
        // cs-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>; // wrong
        cs-gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; //correct

        sdhc0: sdhc@0 {
                compatible = "zephyr,mmc-spi-slot";
                reg = <0>;
                status = "ok";
                label = "SDHC0";
                spi-max-frequency = <24000000>;
        };
};

/ {
        pwmleds {
                compatible = "pwm-leds";
                pwm_led0: pwm_led0 {
                        pwms = <&pwm1 31>;
                        label = "Green PWM LED 0";
                };

                pwm_led1: pwm_led1 {
                        pwms = <&pwm1 14>;
                        label = "Blue PWM LED 1";
                };

                pwm_led2: pwm_led2 {
                        pwms = <&pwm1 15>;
                        label = "Red PWM LED 2";
                };
       };

       aliases {
               pwm-led0 = &pwm_led0;
               pwm-led1 = &pwm_led1;
               pwm-led2 = &pwm_led2;
       };
};

&pwm1 {
       status = "okay";
       ch0-pin = <31>;
       //ch0-inverted; // invert only for LEDs
       ch1-pin = <14>;
       ch1-inverted;
       ch2-pin = <15>;
       ch2-inverted;
};

// TODO: new/rename nodes for the individual ESCs
