
&i2c0 {
	status = "ok";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi1 {
        status = "ok";
        // cs-gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>; // wrong
        cs-gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; //correct

        sdhc0: sdhc@0 {
                compatible = "zephyr,mmc-spi-slot";
                reg = <0>;
                status = "ok";
                label = "SDHC0";
                spi-max-frequency = <24000000>;
        };
};

/ {
        pwmleds {
                compatible = "pwm-leds";
                pwm_led0: pwm_led0 {
                        pwms = <&pwm1 31>;
                        label = "PWM ESC 0";
                };

                pwm_led1: pwm_led1 {
                        pwms = <&pwm1 30>;
                        label = "PWM ESC 1";
                };

                pwm_led2: pwm_led2 {
                        pwms = <&pwm1 02>;
                        label = "PWM ESC 2";
                };

                pwm_led3: pwm_led3 {
                        pwms = <&pwm1 03>;
                        label = "PWM ESC 3";
                };
       };

       aliases {
               pwm-led0 = &pwm_led0;
               pwm-led1 = &pwm_led1;
               pwm-led2 = &pwm_led2;
               pwm-led3 = &pwm_led3;
       };
};

&pwm1 {
       status = "okay";
       ch0-pin = <31>;
       //ch0-inverted; // invert only for LEDs
       ch1-pin = <30>;
       ch2-pin = <02>;
       ch3-pin = <03>;
};

// TODO: new/rename nodes for the individual ESCs


// // Lower than default baud rate
// &uart0 {
// 	compatible = "nordic,nrf-uart";
// 	current-speed = <115200>;
// 	status = "okay";
// 	tx-pin = <6>;
// 	rx-pin = <8>;
// 	rts-pin = <5>;
// 	cts-pin = <7>;
// };
